.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	top: 35px;
	&__row {
		@include flexbox();
		justify-content: center;
		align-items: center;
		height: 85px;
	}

	&__menu {
	}

	&__logo {
		position: absolute;
		left: 50%;
		top: 0;
		@include tr(-50%, 0, 0);
	}
}
.menu {
	&__icon {
	}

	&__body {
	}

	&__list {
		@include flexbox();
		li {
			position: relative;
			padding: 0 37.5px;
			&:nth-child(2) {
				padding: 0 110px 0 37.5px;
			}
			&:nth-child(3) {
				padding: 0 37.5px 0 110px;
			}
			&::after {
				content: '';
				width: 2px;
				height: 2px;
				background-color: #4d4959;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -1px;
			}
			&:last-child,
			&:nth-child(2) {
				&::after {
					display: none;
				}
			}
		}
	}

	&__link {
		color: #4d4959;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2.6px;
	}
}
.icon-menu {
}
